.card {
  font-size: 0;
}



.card-title {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.7px;
  margin-bottom: 0;
}

.section-expertise .card-title {
  color: #413d4b;
  margin-top: 35px;

}

.section-team .card-title {
  color: #ffffff;
  margin-top: 20px;
}


.section-expertise .card-description {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.7px;
  color: rgba(51, 51, 51, 0.75);
  margin-top: 25px;
}

.section-team .card-description {
  color: rgba(250, 250, 250, 0.7);
}

.card-description {
  font-size: 13px;
  margin-bottom: 28px;
}


.card-container {
  padding: 1px;
  border: solid 1px rgba(225, 225, 225, 0.76);

}



.card-image {
  height: 229px;
}

.card-image > img {}
