.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
}

.grid-item {
  padding: 20px;
}

.grid-large {
  margin: 0 -50px;
}
.grid-large .grid-item {
  padding: 0 50px;
}

.grid-medium {
  margin:  -40px;
}
.grid-medium .grid-item {
  padding:  40px;
}

.grid-small{
  margin: -10px;
}

.grid-small .grid-item{
  padding: 10px;
}