.section-hero .section-foreground .section-header {
  padding: 15px 0;
}

.logo {
  height: 50px;
  display: inline-block;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
