.nav .nav-item {
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.33px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
  text-transform: uppercase;
}

.nav .nav-item:first-child {
  margin-left: 0
}

.footer .nav > .nav-item {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.35px;
  text-align: left;
  color: #ffffff;
}

.nav a:hover {
  color: #00e0d0;
  text-decoration: none;
  cursor: pointer;
}

.nav .is-active {
  color: #00e0d0;
}
